/* Footer Container */
footer {
  background-color: #100544;   
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Section Titles (scoped only inside footer) */
 h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f1c40f;  
}

/* Sponsors & Organizers */

.organizer-logos,
.social-media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.organizer-logos img {
  height: 100px;
}

.organizer-logos img:hover {
  transform: scale(1.1);
}


.social-media-logos img {
  height: 35px;
  width: 50px;
  border-radius: 50%;
}

.social-media-logos img:hover {
  transform: scale(1.2);
}


.admin-login {
  margin: 10px 0;
}

.admin-login a {
  color: #f1c40f;
  text-decoration: none;
  font-weight: bold;
}

.admin-login a:hover {
  text-decoration: underline;
}

/* Copyright */
.copyright {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
}
