
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-right: 110px;
}


.d-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

a.btn-success {
    margin-left: auto; 
}


.form-control {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    font-size: 14px;
}

.btn {
    padding: 7px 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.btn-primary {
    background-color: #051147;
}

.btn-primary:hover {
    background-color: #04305e;
}

.btn-success {
    background-color: #051147;
}

.btn-success:hover {
    background-color: #030c59;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

.btn-sm {
    padding: 4px 10px;
    font-size: 12px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

table thead tr {
    background-color: #051147;
    color: #fff;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #dee2e6;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e9ecef;
}


table td:last-child {
    text-align: center;
}

