/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Heading */
h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color: #2c3e50;
}



.add-btn {
     display: inline-block;
     float: right;
     margin-bottom: 20px;
     padding: 10px 20px;
     background: #0f0967;
     color: white;
     border: none;
     border-radius: 6px;
     cursor: pointer;
    font-size: 16px;
     }
.add-btn:hover {
     background: #0d278d;
    }

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.modal-content h3 {
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    color: #110b65;
}
.modal-content label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.modal-content input, 
.modal-content select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal-content button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #27ae60;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
.modal-content button:hover {
    background: #219150;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
    overflow: hidden;
}
table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
table th {
    background: #0a0659;
    color: white;
}
table tr:hover {
    background: #f1f1f1;
}

/* Delete Button */
table form button {
    padding: 6px 12px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
table form button:hover {
    background: #c0392b;
}
 
        #notification {
            position: fixed;
            top: 20px;
            right: 20px;
            background: #27ae60;
            color: white;
            padding: 12px 20px;
            border-radius: 6px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.2);
            display: none;
            z-index: 1000;
            font-weight: bold;
        }
        #notification.error { 
            background: #e74c3c; 
        }
